@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

// Spieler 3 und 4 ausblenden

#menu {
	.spieler_3, .spieler_4 {
		display: none;
	}
}

.pause {
	position: relative;
	button {
		position: absolute;
		right: 10px;	
		bottom: 10px;
	}
}

.anzahl_spieler {
	padding-bottom: 1.5em;
	font-size: 1.4em;
	select {
		vertical-align: text-bottom;
	}
}

.spieler_farben {
	span {
		display: inline-block;
		vertical-align: text-top;
		margin-right: 10px;
		cursor: pointer;
		@extend .btn;
		@extend .btn-default;
		&.red {
			background-color: red;
		}
		&.blau {
			background-color: blue;
		}
		&.gelb {
			background-color: yellow;
		}
		&.gruen {
			background-color: green;
		}

		&:hover {
			border: 1px solid black;
		}
	}

}

.wuerfeln {
	position: relative;
	button {
		position: absolute;
		left: 10px;	
		bottom: 10px;
	}
}

.drehen {
	position: relative;
	button {
		position: absolute;
		left: 50%;	
		bottom: 10px;
	}
}

#modal_wuerfeln .ergebnis {
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#ausgabe {
	width: 60%;
	height: 38px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	font-size: 24px;
	text-align: center;
	border: 1px solid #eee;
	box-shadow: 0 10px 6px -6px #777;

	.wrap {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
	}

	p {
		margin: 0;
		padding: 2px 0;
	}
}